@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Index</h2>
    <a href="https://itvdn.blob.core.windows.net/materials/aspnet-core-api_aspnet-core-api-mvc-materials.zip?sv=2018-03-28&sr=b&sig=HuL%2BbxxhTNetSXktZ1pNMKr%2BFvYOY9deiU2d68MMSuk%3D&st=2023-08-29T13%3A19%3A20Z&se=2023-08-29T13%3A54%3A20Z&sp=rl">Скачать описание урока</a>
</body>
</html>
